<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文一覧</title>

<link href="/css/list.css" rel="stylesheet"></link>
</head>
<body>
<h1>注文システム</h1>
<h2><a href="/customer/list">顧客一覧</a>　（staff only）</h2>
<h2><a href="/customer/add">顧客登録</a>　（staff only）</h2>
<h2><a href="/customer/search">顧客検索</a>　（staff only）</h2>
<h2><a href="/purchase/list">注文一覧</a>　（staff only）</h2>
<h2><a href="/purchase/add">注文</a>　（customer only）</h2>
<h3><a href="/customerLogin">customer ログイン</a></h3>
<h3><a href="/customerLogout">customer ログアウト</a></h3>
<h3><a href="/staffLogin">staff ログイン</a></h3>
<h3><a href="/staffLogout">staff ログアウト</a></h3>
</body>
</html>