<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.CustomerMapper">
    <select id="findMany" resultType="com.example.demo.entity.Customer">
        SELECT * FROM Customer
    </select>
    <select id="searchById" resultType="com.example.demo.entity.Customer">
        SELECT * FROM Customer WHERE id = #{id}
    </select>
    <select id="searchByIdPass" resultType="com.example.demo.entity.Customer">
        SELECT * FROM Customer WHERE id = #{id} AND pass = #{pass}
    </select>
    <select id="searchByIdAuthCode" resultType="com.example.demo.entity.Customer">
        SELECT * FROM Customer WHERE id = #{id} AND auth_code = #{auth}
    </select>
    <select id="findBySession" resultType="com.example.demo.entity.Customer">
        SELECT * FROM Customer WHERE session_id = #{sessionId}
    </select>
    <insert id="add">
        INSERT INTO Customer ( name ) values ( #{name} ) 
    </insert>
    <update id="setSession">
        UPDATE Customer SET session_id = #{sessionId} WHERE id = #{id}
    </update>
    <update id="setAuthCode">
        UPDATE Customer SET auth_code = #{authCode} WHERE id = #{id}
    </update>
    <update id="removeSession">
        UPDATE Customer SET session_id = "" WHERE session_id = #{sessionId}
    </update>
</mapper>